@model Rentals.Web.Areas.Admin.Models.RentalEditorViewModel
@using Rentals.Web.Localization

<div class="row">
	<h2>@Admin.Rental_Edit</h2>
	<div class="col-md-6">
		@using (Html.BeginForm("Edit", "Rental", FormMethod.Post))
		{
			@Html.ValidationSummary(true)
			<div class="form-group">
				@Html.LabelFor(m => m.Name, new { @class = "control-label" })
				@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Name, string.Empty, new { @class = "text-danger" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.StartsAt, new { @class = "control-label" })
				<input type="time" name="@Html.NameFor(m => m.StartsAt)" id="@Html.IdFor(m => m.StartsAt)" value="@Model.StartsAt" class="form-control"/>
				@Html.ValidationMessageFor(m => m.StartsAt, string.Empty, new { @class = "text-danger" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.EndsAt, new { @class = "control-label" })
				<input type="time" name="@Html.NameFor(m => m.EndsAt)" id="@Html.IdFor(m => m.EndsAt)" value="@Model.EndsAt" class="form-control" />
				@Html.ValidationMessageFor(m => m.EndsAt, string.Empty, new { @class = "text-danger" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.MinTimeUnit, new { @class = "control-label" })
				@Html.TextBoxFor(m => m.MinTimeUnit, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.MinTimeUnit, string.Empty, new { @class = "text-danger" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.City, new { @class = "control-label" })
				@Html.TextBoxFor(m => m.City, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Street, new { @class = "control-label" })
				@Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.ZipCode, new { @class = "control-label" })
				@Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ZipCode, string.Empty, new { @class = "text-danger" })
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">@GlobalResources.Save</button>
				@Html.ActionLink(GlobalResources.Cancel, "Index", "Rental", null, new { @class = "btn btn-default" })
			</div>
		}
	</div>
</div>