@model Rentals.Web.Models.UserLoginViewModel
@using Rentals.Web.Localization

@{
	ViewBag.Title = Localization.Login;
	Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h1>
	Disclamimer: this version is only for testing purposes <br />
	missing only notifications <br />
	login: admin; password: P@ssw0rd;
</h1>

<form method="post" class="form-horizontal" asp-action="ExternalLogin" asp-controller="Account">
	@Html.HiddenFor(m => m.ReturnUrl)
	<div>
		<p>
			@if (Model.ExternalLogins != null)
			{
				foreach (var provider in Model.ExternalLogins)
				{
					<button type="submit" class="btn btn-default" name="@Html.NameFor(m => m.Provider)" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
				}
			}
		</p>
	</div>
</form>