@model Rentals.Web.Areas.Admin.Models.AccessoryItemTypesViewModel
@using Rentals.Web.Localization

@foreach (var item in Model.ItemTypes)
{
	<div class="col-sm-3">
		<h4>
			<a href="@Url.Action("Detail", "Items", new { id = item.Id })" class="non-underlined">@item.Name</a>
			<a class="btn btn-danger btn-xs pull-right" onclick="removeAccessory(@item.Id, '@(string.Format(Admin.Item_RemoveAccessory, item.Name))')">x</a>
		</h4>
		<img src="@item.CoverImage" alt="@item.Name" class="img-responsive" />
		<p>@string.Format(Admin.Item_NumberOfItems, item.NumberOfItems)</p>
		<p>@item.Description</p>
	</div>
}

<div class="col-sm-3">
	<button class="btn btn-primary btn-sm margin-top-1" id="show-select-accessory" type="button">@Admin.Item_AddAccessory</button>
	<select class="form-control margin-top-1" id="select-accessory" style="display:none">
		<option value="" selected disabled hidden>@Admin.Item_ChooseAccessory</option>
	</select>
	<button id="add-accessory" class="btn btn-primary btn-sm margin-top-1" style="display:none" type="button" onclick="addAccessory()">@GlobalResources.Save</button>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$("#show-select-accessory").click(function () {
			$.ajax({
				url: '@Url.Action("AvaibleAccessories", "Items")',
				data: { id: @Model.ItemTypeId },
				success: function (data) {
					var $select = $("#select-accessory");

					$(data).each(function (index, value) {
						$select.append('<option value="' + value.id + '">' + value.name + '</option>');
					})

					$select.show();
					$("#add-accessory").show();
					$("#show-select-accessory").hide();
				},
			});
		})
	});

	function removeAccessory(id, message) {
		if (confirm(message)) {
			$.ajax({
				url: '@Url.Action("RemoveAccessory", "Items")',
				data: {
					accessoryToId: @Model.ItemTypeId,
					accessoryId: id,
				},
				success: function (data) {
					$("#component-container").load('@Url.Action("ReloadComponentView", "Items", new { id = Model.ItemTypeId })');
				},
			});
		}
	}

	function addAccessory() {
		alert($("#select-accessory").val());
	}
</script>