@model Rentals.Web.Areas.Admin.Models.LoginViewModel
@using Rentals.Web.Localization

@{
	ViewBag.Title = Admin.Login;
	Layout = "~/Areas/Admin/Views/Shared/_EmptyLayout.cshtml";
}

@Html.HiddenFor(m => m.ReturnUrl)
@Html.HiddenFor(m => m.ExternalLogins)

<div class="row">
	<h2>@Admin.Login</h2>
	<div class="col-md-4">
		@using (Html.BeginForm("Login", "Account", FormMethod.Post))
		{
			<h4>@Admin.UseAdminAccount</h4>
			<hr />
			@Html.ValidationSummary(true)
			<div class="form-group">
				@Html.LabelFor(m => m.UserName)
				@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.UserName, string.Empty, new { @class = "text-danger" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Password)
				@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.RememberMe)
				@Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox" })

			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">Log in</button>
			</div>
		}
	</div>
	<div class="col-md-6 col-md-offset-2">
		<h4>@Admin.UseExternalLogin</h4>
		<hr />
		<form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
			<div>
				<p>
					@if (Model.ExternalLogins != null)
					{
						foreach (var provider in Model.ExternalLogins)
						{
							<button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
						}
					}
				</p>
			</div>
		</form>
	</div>
</div>