@model Rentals.Web.Areas.Admin.Models.RentingEditorViewModel
@using Rentals.Web.Localization
@using Rentals.Common.Enums
@using Rentals.Web.Code

@{
	ViewBag.Title = Admin.Renting_Edit;
}

<div class="row">
	<h2>@Admin.Renting_Edit</h2>
	<div class="col-md-6">
		@using (Html.BeginForm("Edit", "Renting", FormMethod.Post))
		{
			@Html.ValidationSummary(true)
			@Html.HiddenFor(m => m.RentingId)
			@Html.HiddenFor(m => m.RentalId)

			<div class="form-group row">
				<div class="col-xs-12">
					@Html.LabelFor(m => m.EndsAtDate, new { @class = "control-label" })
					<div class="row">
						<div class="col-sm-6">
							@Html.TextBoxFor(m => m.EndsAtDate, GlobalResources.Cs_TimeFormat, new { @class = "form-control reload-items" })
						</div>
						<div class="col-sm-6">
							@Html.DropDownListFor(
								m => m.EndsAtTime,
								Html.WorkingHourSelectList(Model.Rental.TimeList.ToArray(), Model.EndsAtTime),
								null,
								new { @class = "form-control reload-items" })
						</div>
					</div>
					@Html.ValidationMessageFor(m => m.EndsAtDate, string.Empty, new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.State, new { @class = "control-label" })

				@Html.DropDownListFor(m => m.State,
					Html.GetEnumSelectList<RentalState>(),
					null,
					new {@class = "form-control"})
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Note, new { @class = "control-label" })
				@Html.TextAreaFor(m => m.Note, 4, 8, new { @class = "form-control" })
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">@GlobalResources.Save</button>
				@Html.ActionLink(GlobalResources.Cancel, "Index", "Rental", null, new { @class = "btn btn-default" })
			</div>
		}
	</div>
</div>