@model Rentals.Web.Areas.Admin.Models.ExtendedItemTypeViewModel
@using Rentals.Web.Localization

@{
    ViewBag.Title = string.Format(Admin.Item_Detail, Model.Name);
}

<div class="row">
    <h2>
        @string.Format(Admin.Item_Detail, Model.Name)
        @Html.ActionLink(GlobalResources.Delete, "DeleteType", "Items", new { id = Model.Id }, new { @class = "btn btn-danger pull-right", onclick = "return confirm('" + string.Format(Admin.Item_DeleteMessage, Model.Name) + "');" })
        @Html.ActionLink(GlobalResources.Edit, "Edit", "Items", new { id = Model.Id }, new { @class = "btn btn-warning pull-right" })
    </h2>
</div>

<div class="row">
    <h3>@Model.Name</h3>
    <p>@Model.Description</p>

    <hr />

    <h4><strong>@Admin.Item_ListOfItems</strong></h4>

    <div class="row row-eq-height">
        @foreach (var item in Model.Items)
        {
            <div class="col-sm-3">
                <h4>@Model.Name</h4>
                <img src="@item.CoverImage" alt="@Model.Name" class="img-responsive" />
                <p>@string.Format(Admin.Item_NumberOfItems, item.NumberOfItems)</p>
                <p>@item.Note</p>
            </div>
        }
    </div>

    <hr />

    <h4><strong>@Admin.Item_Accessories</strong></h4>

    <div class="row row-eq-height">
        @foreach (var item in Model.Accessories)
        {
            <div class="col-sm-3">
                <h4><a href="@Url.Action("Detail", "Items", new { id = item.Id })" class="non-underlined">@item.Name</a></h4>
                <img src="@item.CoverImage" alt="@item.Name" class="img-responsive" />
                <p>@string.Format(Admin.Item_NumberOfItems, item.NumberOfItems)</p>
                <p>@item.Description</p>
            </div>
        }
    </div>

    @if (Model.History.Any())
    {
        <hr />

        <h4><strong>@Admin.History</strong></h4>

        <table class="table table-bordered table-responsive">
            <tr>
                <th>@Admin.History_Item</th>
                <th>@Admin.History_Time</th>
                <th>@Admin.History_Content</th>
                <th>@Admin.History_Customer</th>
            </tr>
            @foreach (var history in Model.History)
            {
                <tr>
                    <td>@history.Item</td>
                    <td>@history.HappenedAt</td>
                    <td>@history.Content</td>
                    <td>@Html.ActionLink(history.CausedBy, "Detail", "Customers", new { id = history.CausedById })</td>
                </tr>
            }
        </table>
    }

    <div class="row">
        <div id="calendar" class="col-xs-12"></div>
    </div>

    <h4><strong>@Admin.Renting_History</strong></h4>
    @(await Html.PartialAsync("_Rentings", Model.Rentings))
</div>




<script type="text/javascript">
	jq = jQuery.noConflict(false);

	jq(document).ready(function () {
		jq("#calendar").fullCalendar({
            defaultView: "month",
            eventOverlap: false,
			locale: "cs",
            slotDuration: "00:@Model.Rental.MinTimeUnit:00",
            allDaySlot: false,
			events: function (start, end, timezone, callback) {
				console.log(start);
				jq.ajax({
					url: '@Url.Action("GetCalendarEvents", "Calendar")',
					method: 'get',
					data: {
						item: "@Html.Raw(Model.Name)",
						count: 10,
						isSpecificItem: false,
						from: start.toJSON(),
						to: end.toJSON()
					},
					success: function (data) {
						callback(data);
					},
					error: function () {
						alert("Kalendářová chyba");
					}
				});
			}
		});
	});
</script>