@model Rentals.Web.Areas.Admin.Models.ItemTypesViewModel
@using Rentals.Web.Localization

@{
	ViewBag.Title = Admin.Item;
}

<div class="row">
	<h2>
		@Admin.Item_Type 
		@Html.ActionLink(Admin.Item_AddNew, "Create", "Items", null, new {@class = "btn btn-primary pull-right"})
	</h2>
</div>

<div class="row row-eq-height">
	@foreach (var item in Model.ItemTypes)
	{
		<div class="col-sm-4">
			<h3>@Html.ActionLink(item.Name, "Detail", "Items", new { id = item.Id }, new { @class = "non-underlined" })</h3>
			<img src="@item.CoverImage" alt="@item.Name" class="img-responsive" />
			<h4>@string.Format(Admin.Item_NumberOfItems, item.NumberOfItems)</h4>
			<p class="text-justify">@item.Description</p>
		</div>
	}
</div>
