@using Rentals.Web.ViewComponents
@using Rentals.Web.Localization

@{
	ViewBag.Title = Model.rental;
}

<section id="filters" class="row">
	<form class="form-inline col-xs-12" method="get">
		<div class="form-group">
			<label for="from">@Localization.ItemOverview_AvaibleFrom:</label>
			<input type="date" class="form-control" id="from" name="from" placeholder="@GlobalResources.From">
		</div>
		<div class="form-group">
			<label for="to">@GlobalResources.To:</label>
			<input type="date" class="form-control" id="to" name="to" placeholder="@GlobalResources.To">
		</div>
		<div class="form-group">
			<label for="q">@GlobalResources.Search_Label</label>
			<input type="text" class="form-control" id="q" name="q" placeholder="@GlobalResources.Search_Term" />
		</div>
		<button type="submit" class="btn btn-info">@Localization.ItemOverview_UseFilters</button>
		<button type="reset" class="btn btn-primary">@GlobalResources.Reset</button> 
	</form>
</section>

<section id="items" class="rowNewBS">
	@await Component.InvokeAsync(nameof(ItemsOverview), new { Model.from, Model.to })
</section>

<script type="text/javascript">
	$("#filters").submit(function (event) {
		event.preventDefault();
		$("#items").load('@Url.Action("SeeItems", "Home")', { from: $("#from").val(), to: $("#to").val(), q: $("#q").val() });
	});

	$("#filters").on("reset", function () {
		$("#items").load('@Url.Action("SeeItems", "Home")', { from: null, to: null, q: null });
	});
</script>