@model Rentals.Web.Models.ItemOverviewViewModel
@using Rentals.Common.Extensions
@using Rentals.Web.Localization

@foreach (var item in Model.Items)
{
    <section class="item col-sm-6 col-md-4 margin-top-1 d-flex">
        <div class="card flex-fill">
            <img class="card-img-top" src="@item.CoverImage" alt="@item.Name">
            <div class="card-body">
                @if (item.IsSpecificItem)
                {
                    @Html.ActionLink(item.Name, "ItemDetail", "Home", new { id = item.ItemId }, new { @class = "non-underlined card-title" })
                }
                else
                {
                    @Html.ActionLink(item.Name, "TypeDetail", "Home", new { id = item.ItemTypeId }, new { @class = "non-underlined card-title" }) 
                }
                <h6 class="card-subtitle text-muted">@string.Format(Localization.Items_NumberOfItems, item.NumberOfItems)</h6>
                <p class="card-text">
                    @item.Description
                    @if (item.IsSpecificItem)
                    {
                        @item.Note
                    }
                </p>              
            </div>
        </div>
    </section>
}