@model Rentals.Web.Models.ItemOverviewViewModel
@using Rentals.Common.Extensions
@using Rentals.Web.Localization

@foreach (var item in Model.Items)
{
	<section class="item col-sm-4 margin-top-1">
		<div class="row">
			@if (item.IsSpecificItem)
			{
				<p>@Html.ActionLink(item.Name, "ItemDetail", "Home", new { uid = item.UniqueId.RemoveSpaces() }, new { @class = "non-underlined" })</p>
			}
			else
			{
				<p>@Html.ActionLink(item.Name, "TypeDetail", "Home", new { itemType = item.Name.RemoveSpaces() }, new { @class = "non-underlined" })</p>
			}

			<div class="image-itself">
				<img class="item-cover" src="@item.CoverImage" alt="@item.Name" />
			</div>
			<p>
				@item.Description
				@if (item.IsSpecificItem)
				{
					@item.Note
				}
			</p>
			<p>@string.Format(Localization.Items_NumberOfItems, item.NumberOfItems)</p>
		</div>
	</section>
}