@model Rentals.Web.Areas.Admin.Models.CustomerViewModel
@using Rentals.Web.Localization

@{
	ViewBag.Title = Model.Name ?? Model.Email;
}


<h2 class="row">
	@(Model.Name ?? Model.Email)
</h2>


<div class="row col-xs-12">
	<dl class="inline">
		<dt class="h4">
			<strong>@Admin.Customers_Name</strong>
		</dt>
		<dd class="h4">
			@Html.DisplayFor(m => m.Name)
		</dd>
		<dt class="h4">
			<strong>@Admin.Customers_Email</strong>
		</dt>
		<dd class="h4">
			<span><a href="mailto:@Model.Email">@Html.DisplayFor(m => m.Email)</a></span>
		</dd>
		<dt class="h4">
			<strong>@Admin.Customers_Class</strong>
		</dt>
		<dd class="h4">
			@Html.DisplayFor(m => m.Class)
		</dd>
	</dl>
</div>

<h3 class="row">
	@Admin.Customers_Rentings
</h3>

@* ajaxově nějak pořešit *@

@(await Html.PartialAsync("_Rentings", Model.Rentings))

@if (Model.History.Any())
{	
	<hr />

	<h3 class="row">@Admin.History</h3>

	<table class="table table-bordered table-responsive">
		<tr>
			<th>@Admin.History_Item</th>
			<th>@Admin.History_Time</th>
			<th>@Admin.History_Content</th>
		</tr>
		@foreach (var history in Model.History)
		{
			<tr>
				<td>@Html.ActionLink(history.Item, "Detail", "Items", new { id = history.ItemTypeId })</td>
				<td>@history.HappenedAt</td>
				<td>@history.Content</td>
			</tr>
		}
	</table>
}

